!!!5
html
    head
        title 123
        meta(charset="UTF-8")

        script(src=url_for('bower.static', filename='requirejs/require.js'))
        script(src=url_for('static', filename='js/main.js'))
             
        //link(rel="stylesheet", href=url_for('static', filename='libs/css/jquery-ui-1.10.4.custom.css'))
        link(href=url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css'), rel='stylesheet', type='text/css')
        //link(rel="stylesheet", href=url_for('static', filename='libs/js/lib/bootstrap-editable/css/bootstrap-editable.css'))

    body
        header

        main(role='main')
            .container
                block content
