extends layouts/application

block content
    script data={world:#{world.id}, execution:#{execution.id}}
    .panel.panel-default: .panel-body
        .row
            .col-lg-8
                canvas(al-repeat='obj in objects'
                    object="{< obj.get('object') >}"
                    style="
                        left:{< obj.get_geom('position.x') >}px;
                        top:{< obj.get_geom('position.y') >}px;
                        display:inline-block;
                        position:absolute;
                        transform: translate(-50%, -50%);"
                   )


            .col-lg-4
                .row: .col-lg-12
                    button.btn.btn-default Агент
                    button.btn.btn-default Не агент
                .row: .col-lg-12
                    select.form-control#obj
                        - for obj in objects
                            option(value=obj['object'])= obj['properties']['name']
                .row: .col-lg-12
                    table.table
                        thead
                            th Свойство
                            th Значение
                        tbody#tbody
